body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 1280px;
}

a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  margin: -1px;
  border: 0;
  padding: 0;
}
.page-wrapper {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
  min-height: 56px;
  outline: 1px solid black;
}
.main-header-logo {
  position:absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.main-nav {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  min-height: 56px;
}

.main-nav-list {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 22px 72px;
}

.main-nav-list li {
  width: 20%;
  outline: 1px solid black;
}

.main-nav-list li:nth-of-type(2) {
  margin-right: 20%;
}

.main-nav-list li:nth-of-type(3),
.main-nav-list li:nth-of-type(4) {
  text-align: right;
}

.main-nav-list a {
  color: #000000;
}

.main-nav-list a:hover,
.main-nav-list a:focus {
  color: #81b3d2;
}

.main-nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.active-page {
  color: #766357;
}

.promo {
  background-image: url("../img/index-background.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 61px;
}

.promo::after {
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 100%;
  height: 59px;
  bottom: 0;
  left: 0;
}

.intro {
margin: 0;
padding: 0;
text-align: center;
line-height: 26px;
margin-bottom: 56px;
}

.main-title {
  margin: 0;
  font-size: 21px;
  color: #000000;
  padding-bottom: 38px;
}

.features {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;
}

.features-item {
  text-align: center;
  min-height: 256px;
  width: 400px;
  outline: 1px solid black;
}

.features-item-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.features-item-blue h2 {
  color: #ffffff;
}

.features-item-gray {
  background-color: #eeeeee;
}

.features-title {
  color: #000000;
}

.page-bottom {
  text-align: center;
}

.page-bottom h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.page-bottom p {
  line-height: 24px;
}

.hotel-search-btn {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
}

.hotel-search-btn:hover,
.hotel-search-btn:focus {
  background-color: #604e43;
}

.hotel-search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-search {
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.hotel-search input {
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.hotel-search input:hover {
  background-color: #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.btn-search {
  font: inherit;
  font-size: 21px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #669ec0;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filters {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: left;
}

.filters-group,
.filters-cost {
  display: flex;
}

.filters-group-parametrs {
  font-size: 16px;
}

.filters-btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  background: transparent;
  border: 2px solid #ffffff;
}

.search-results {
  text-align: left;
  display: flex;
}

.found-results {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.choose-cathegory {
  font-size: 10.5px;
  line-height: 17.5px;
}
.choose-cathegory-three li,
.choose-order li {
  display: inline-block;
}
.choose-cathegory-three,
.choose-order {
  list-style: none;
}

.choose-cathegory-three a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.choose-cathegory-three a:hover,
.choose-cathegory-three a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.choose-cathegory-three a:active {
  color: #000000;
  border: none;
}
.catalog {
  min-height: 452px;

}
.catalog-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 72px;
  padding-bottom: 30px;
  padding-top: 30px;
  outline: 1px solid black;
}

.catalog-item {
  display: flex;
  justify-content: space-around;

}
.catalogue-item-title {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}

.catalogue-item-title a {
  color: #000000;
}

.catalogue-item-title a:hover,
.catalogue-item-title a:focus {
  color: #81b3d2;
}

.catalogue-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-catalog-item {
   color: #ffffff;
   background-color: #81b3d2;
}

.btn-catalog-item:hover,
.btn-catalog-item:focus {
  background-color: #669ec0;
}

.btn-catalog-item:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-catalog-item-alt {
   background-color: #766357;
   text-align: center;
   vertical-align: middle;
}

.btn-catalog-item-alt:hover,
.btn-catalog-item-alt:focus {
   background-color: #604e43;
}

.btn-catalog-item-alt:active {
   background-color: #503e33;
}
.catalog-item-rating {
  margin-left: auto;
}
.catalog-item-image {
  order: -1;
}
.rating-text {
   color: #666666;
   background-color: #f2f2f2;
}

.main-footer {
  background-color: #ffffff;
  min-height: 593px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visit-sedona {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;

}

.footer-social {
  text-align: center;
}

.social-list {
  list-style: none;
}

.social-button {
  color: inherit;
}

.footer-copyright {
  text-align: center;
  vertical-align: middle;
}
